MISSKEY_ACCESS_TOKEN="ノートの作成/消去の権限のみを付与してください。"
MISSKEY_ENDPOINT_URL="https://example.tld"
SPOTIFY_CLIENT_ID="Spotify Developer Dashboard から取得してください。"
SPOTIFY_CLIENT_SECRET="Spotify Developer Dashboard から取得してください。"
SPOTIFY_REFRESH_TOKEN=""
OPEN_WEBUI_URL="https://example.tld"
OPEN_WEBUI_API_KEY=""
OPEN_WEBUI_MODEL="hf.co/lmstudio-community/Qwen3-8B-GGUF:q3_K_L"
